<head>
  <h1>TwitterUs</h1>
</head>

<form id="look_up" action="/" method="POST">
<input id="username" type="text" name="username" placeholder="twitter handle">
<input class="twitter_handle" type="submit" >
</form>
